@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Lato:400i,700i');

// colors
$green: #354c18;
$purple: #dacaee;
$light-gray: #8c8c8c;
$dark-gray: #343434;

// fonts
$sans: 'Lato', sans-serif;
$monospace: 'Inconsolata', monospace;
