.footer {
    @extend %section;

    &__copyright {
        font-size: 1em;
        font-family: $mono;
        color: $green;
        font-weight: 700;
    }
    &__social-links li {
        display: inline;

        &:not(:last-child)::after {
            content: ' | ';
            font-family: $mono;
            color: $green;
            font-weight: 700;
        }
        a {
            font-family: $mono;
            color: $green;
            font-weight: 700;
        }
    }
    .redesign {
        font-family: $mono;
        color: $green;
        font-weight: 700;
    }
}
