@import 'components';
@import 'reset.scss';
@import 'nav.scss';
@import 'header.scss';
@import 'projects.scss';
@import 'resume.scss';
@import 'footer.scss';

body {
    background-color: $green;
}

.button-expand {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: .5em;
    right: .5em;

    svg {
        width: 100%;
        height: 100%;
        stroke: $green;
        fill: none;
        stroke-width: 2;
    }
}

.texture-break {
    width: 90%;
    margin: 0 auto 1rem;
    overflow-y: hidden;
    height: 5rem;
}

.nav-button-container {
    position: relative;
    z-index: 999;

    .nav-button {
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 1rem;
        right: 1rem;

        &:focus {
            outline: none;
        }
        svg {
            width: 100%;
            height: 100%;
            stroke: $purple;
            fill: none;
            stroke-width: 2;

            .show-nav & {
                fill: $purple;
            }
        }
        body[class$="--expanded"] & {
            display: none;
        }
    }
}

.expanded-section-overlay {
    visibility: hidden;
    transform: scale(.8);
    opacity: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $green;
    transition: all .3s ease;

    .show-nav &, body[class$="--expanded"] & {
        visibility: visible;
        transform: scale(1);
        opacity: 1;
    }
}
.close-section-button {
    width: 2rem;
    height: 2rem;
    margin: 1rem 0 0 1rem;
    position: absolute;
    top: 0;
    left: 0;
    display: none;

    body[class$="--expanded"] & {
        display: block;
    }
    svg {
        width: 100%;
        height: auto;
        fill: none;
        stroke: $purple;
    }
}
