.resume {
    @extend %section;

    &__title {
        @extend %section__title;
    }
    &__subtitle {
        @extend %section__subtitle;
    }
    &__work {
        padding-top: 2rem;

        h3 {
            font-size: 1.5em;
            font-family: $sans;
            font-style: italic;
            color: $green;
        }
        ul {
            margin: 1rem 0;
        }
        .work-item {
            margin-left: 1em;
            padding: .75em 0 .75em .5em;
            position: relative;
            color: $green;

            &:first-child {
                color: $purple;
                background-color: $dark-gray;
            }
            &__time {
                font-size: .8em;
                font-family: $mono;
                color: inherit;
            }
            &__job {
                font-size: 1.2em;
                font-family: $sans;
                font-style: italic;
                color: inherit;
            }
            &__location {
                font-size: 1em;
                font-family: $mono;
                color: inherit;
            }
            &__job-title {
                font-size: 1em;
                font-family: $mono;
                color: inherit;
            }
        }
        &__see-more {
            font-size: 1em;
            font-family: $mono;
            color: $green;
            display: block;
            text-align: right;
        }
    }
    &__school {
        padding-top: 2rem;

        h3 {
            font-size: 1.5em;
            font-family: $sans;
            font-style: italic;
            color: $green;
        }
        .school-item {
            padding: 1em 0 1em 1em;

            &--future {
                opacity: .5;
            }
            &__time {
                font-size: .9em;
                font-family: $sans;
                font-style: italic;
                color: $green;
            }
            &__name {
                font-size: 1.2em;
                font-family: $sans;
                font-style: italic;
                font-weight: 700;
                color: $green;
            }
        }
    }
    &__skills {
        padding-top: 2rem;

        h3 {
            font-size: 1.5em;
            font-family: $sans;
            font-style: italic;
            color: $green;
        }
        .skills__chart {
            display: flex;
            margin-top: 1rem;
            overflow-y: visible;

            .chart__legend {

                li {
                    height: 16px;
                    font-family: $mono;
                    font-size: 16px;
                    color: $black;
                    margin-bottom: 8px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .chart__graph {
                margin-left: 1rem;
                flex-grow: 2;
            }
        }
    }
}
// .work-timeline {
//     width: auto;
//     overflow-x: scroll;
//     display: grid;
//     grid-template-columns: 9rem 9rem 9rem 9rem 9rem;
//     grid-template-rows: 1fr 1fr;
//     align-items: end;
//     margin-top: 1rem;
//
//     div {
//         position: relative;
//         font-family: $sans;
//         font-style: italic;
//         padding: 0 1rem .5rem .5rem;
//         border-bottom: 1rem solid $dark-gray;
//
//         &:first-child {
//             // border-bottom: 1rem dashed $dark-gray;
//         }
//         &:not(:last-child)::after {
//             content: "";
//             position: absolute;
//             right: 0;
//             bottom: -2.5rem;
//             width: 100%;
//             height: 4rem;
//             border-right: 1px solid $dark-gray;
//         }
//     }
// }
