{{ define "title" }}
    {{ .Site.Title }} | Projects
{{ end }}

{{ define "main" }}
<div class="canvas">
    <div class="Page">
        {{ partial "header" . }}
        <div class="footer__wrapper">
            <main role="main">
                <div class="Content">
                    <h1 class="h1">{{ .Title }}</h1>
                    <p>{{ .Content }}</p>
                </div>
                <!-- Featured project -->
                <section class="Feature">
                    {{ range where .Pages "Params.featured" "eq" true }}
                        <p class="Feature__label">Featured</p>
                        <h2 class="Feature__title">
                            <a href="{{ .Permalink | relURL }}">{{ .Title }}</a>
                        </h2>

                        <div class="Feature__summary">
                            {{ .Summary }}
                            <a href="{{ .Permalink | relURL }}">Learn More</a>
                        </div>
                    {{ end }}
                </section>

                <!-- Full list of projects -->
                <section class="ListOfList">
                    <h2 class="ListOfList__title">Full List</h2>
                    {{ range .Pages.GroupByParam "year" "desc" }}
                    <div class="List">
                        <h3 class="List__title">{{ .Key }}</h3>
                        <ul class="List__element">
                            {{ range .Pages.ByTitle }}
                            <li class="List__item"><a href="{{ .Permalink | relURL }}">{{ .Title }}</a> {{ if .Params.draft }}<span class="draft-label">Draft</span>{{ end }}</li>
                            {{ end }}
                        </ul>
                    </div>
                    {{ end }}
                </section>
            </main>
            {{- partial "footer" . -}}
        </div>
    </div>
</div>
{{ end }}
