{{ define "main" }}
<div class="Page">
    {{ partial "header" . }}
    <div class="Content__wrapper">
        <main role="main" class="Content">
            <h1 class="Content__title">{{ .Title }}</h1>
            <p>{{ .Content }}</p>

            <!-- Featured project -->
            <section class="Section">
                {{ range where .Pages "Params.featured" "eq" true }}
                    <p class="Section__label">Featured</p>
                    <h2 class="Section__title">
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                    </h2>

                    <div class="Section__paragraph">
                        {{ .Summary }}
                        <a href="{{ .Permalink }}">Learn More</a>
                    </div>
                {{ end }}
            </section>

            <!-- Full list of projects -->
            <section class="Section">
                <h2 class="Section__title">Full List</h2>
                {{ range .Pages.GroupByParam "year" "desc" }}
                <div class="List">
                    <h3 class="List__title">{{ .Key }}</h3>
                    <ul class="List__element">
                        {{ range .Pages }}
                        <li class="List__item"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                        {{ end }}
                    </ul>
                </div>
                {{ end }}
            </section>
        </main>
        {{- partial "footer" . -}}
    </div>
</div>
{{ end }}
