/*
 * Fira Sans
 */
 @font-face{
     font-family: 'Fira Sans';
     src: url("fonts/Fira-master/eot/FiraSans-Light.eot");
     src: local("Fira Sans Light"),
          url("fonts/Fira-master/eot/FiraSans-Light.eot") format("embedded-opentype"),
          url("fonts/Fira-master/woff/FiraSans-Light.woff") format("woff"),
          url("fonts/Fira-master/ttf/FiraSans-Light.ttf") format("truetype");
     font-weight: 300;
     font-style: normal;
 }

 @font-face{
     font-family: 'Fira Sans';
     src: url("fonts/Fira-master/eot/FiraSans-LightItalic.eot");
     src: local("Fira Sans Light Italic"),
          url("fonts/Fira-master/eot/FiraSans-LightItalic.eot") format("embedded-opentype"),
          url("fonts/Fira-master/woff/FiraSans-LightItalic.woff") format("woff"),
          url("fonts/Fira-master/ttf/FiraSans-LightItalic.ttf") format("truetype");
     font-weight: 300;
     font-style: italic;
 }

 @font-face{
     font-family: 'Fira Sans';
     src: url("fonts/Fira-master/eot/FiraSans-Regular.eot");
     src: local("Fira Sans Regular"),
          url("fonts/Fira-master/eot/FiraSans-Regular.eot") format("embedded-opentype"),
          url("fonts/Fira-master/woff/FiraSans-Regular.woff") format("woff"),
          url("fonts/Fira-master/ttf/FiraSans-Regular.ttf") format("truetype");
     font-weight: 400;
     font-style: normal;
 }

 @font-face{
     font-family: 'Fira Sans';
     src: url("fonts/Fira-master/eot/FiraSans-RegularItalic.eot");
     src: local("Fira Sans Regular Italic"),
          url("fonts/Fira-master/eot/FiraSans-RegularItalic.eot") format("embedded-opentype"),
          url("fonts/Fira-master/woff/FiraSans-RegularItalic.woff") format("woff"),
          url("fonts/Fira-master/ttf/FiraSans-RegularItalic.ttf") format("truetype");
     font-weight: 400;
     font-style: italic;
 }

 @font-face{
     font-family: 'Fira Sans';
     src: url("fonts/Fira-master/eot/FiraSans-Medium.eot");
     src: local("Fira Sans Medium"),
          url("fonts/Fira-master/eot/FiraSans-Medium.eot") format("embedded-opentype"),
          url("fonts/Fira-master/woff/FiraSans-Medium.woff") format("woff"),
          url("fonts/Fira-master/ttf/FiraSans-Medium.ttf") format("truetype");
     font-weight: 500;
     font-style: normal;
 }

 @font-face{
     font-family: 'Fira Sans';
     src: url("fonts/Fira-master/eot/FiraSans-MediumItalic.eot");
     src: local("Fira Sans Medium Italic"),
          url("fonts/Fira-master/eot/FiraSans-MediumItalic.eot") format("embedded-opentype"),
          url("fonts/Fira-master/woff/FiraSans-MediumItalic.woff") format("woff"),
          url("fonts/Fira-master/ttf/FiraSans-MediumItalic.ttf") format("truetype");
     font-weight: 500;
     font-style: italic;
 }

 @font-face{
     font-family: 'Fira Sans';
     src: url("fonts/Fira-master/eot/FiraSans-Bold.eot");
     src: local("Fira Sans Bold"),
          url("fonts/Fira-master/eot/FiraSans-Bold.eot") format("embedded-opentype"),
          url("fonts/Fira-master/woff/FiraSans-Bold.woff") format("woff"),
          url("fonts/Fira-master/ttf/FiraSans-Bold.ttf") format("truetype");
     font-weight: 600;
     font-style: normal;
 }

 @font-face{
     font-family: 'Fira Sans';
     src: url("fonts/Fira-master/eot/FiraSans-BoldItalic.eot");
     src: local("Fira Sans Bold Italic"),
          url("fonts/Fira-master/eot/FiraSans-BoldItalic.eot") format("embedded-opentype"),
          url("fonts/Fira-master/woff/FiraSans-BoldItalic.woff") format("woff"),
          url("fonts/Fira-master/ttf/FiraSans-BoldItalic.ttf") format("truetype");
     font-weight: 600;
     font-style: italic;
 }



/*
 * Fira Code
 */
 @font-face {
   font-family: 'Fira Code';
   src: url('fonts/FiraCode-master/woff2/FiraCode-Light.woff2') format('woff2'),
     url("fonts/FiraCode-master/woff/FiraCode-Light.woff") format("woff");
   font-weight: 300;
   font-style: normal;
 }

 @font-face {
   font-family: 'Fira Code';
   src: url('fonts/FiraCode-master/woff2/FiraCode-Regular.woff2') format('woff2'),
     url("fonts/FiraCode-master/woff/FiraCode-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
 }

 @font-face {
   font-family: 'Fira Code';
   src: url('fonts/FiraCode-master/woff2/FiraCode-Medium.woff2') format('woff2'),
     url("fonts/FiraCode-master/woff/FiraCode-Medium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
 }

 @font-face {
   font-family: 'Fira Code';
   src: url('fonts/FiraCode-master/woff2/FiraCode-SemiBold.woff2') format('woff2'),
     url("fonts/FiraCode-master/woff/FiraCode-SemiBold.woff") format("woff");
   font-weight: 600;
   font-style: normal;
 }

 @font-face {
   font-family: 'Fira Code';
   src: url('fonts/FiraCode-master/woff2/FiraCode-Bold.woff2') format('woff2'),
     url("fonts/FiraCode-master/woff/FiraCode-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
 }

 @font-face {
   font-family: 'Fira Code VF';
   src: url('fonts/FiraCode-master/woff2/FiraCode-VF.woff2') format('woff2-variations'),
        url('fonts/FiraCode-master/woff/FiraCode-VF.woff') format('woff-variations');
   /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
   font-weight: 300 700;
   font-style: normal;
 }
