// Typography variables in _typography.scss
@import 'typography';

// Colors
$bg: #0a192f;
$fg: #8892b0;
$main: #ccd6f6;
$accent: #64ffda;

$image-size: (
    small: 10rem,
    medium: 11rem,
    large: 12rem,
);
