.footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;

    @media only screen and (min-width: 700px) {
        font-size: 1.2rem;
    }

    ul {
        list-style-type: none;
        display: flex;

        li {
            font-size: .8em;
            color: $fg;
            font-family: $mono;

            &:not(:first-child)::before {
                content: '/';
                color: $accent;
                margin: 0 .5em;
            }
            a {
                color: inherit;
                text-decoration: none;
                transition: color .2s;

                &:hover {
                    color: $accent;
                }
            }
        }
    }
}
