.Header {

    &__title {
        @include h2-like;
        margin-bottom: 1em;

        // Hide title on small screens
        display: none;
        @media only screen and (min-width: 700px) {
            display: block;
        }
    }
}
