.Header {
    @media only screen and (min-width: 700px) {
        margin-bottom: 2em;

        // display: flex;
        // justify-content: space-between;
    }

    &__title {
        @include h2-like;
        margin-bottom: 1em;

        // Hide title on small screens
        display: none;
        @media only screen and (min-width: 700px) {
            display: block;
        }
    }
}
