@import 'reset';
@import 'variables';

@import 'chroma';
@import 'markdown';

@import 'page';
@import 'homepage';

@import 'nav';
@import 'page';
@import 'admin';
@import 'header';
@import 'footer';

.canvas {
    background-color: $bg; // Set background color to dark
    min-height: 100vh; // Make sure the background takes up at least the entire viewport
    position: relative; // Set relative position to align the footer to at least the bottom
}

body {
    background-color: $bg;
}
