.nav {
    display: none;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background-color: $bg;
    z-index: 9;
    text-align: center;

    @media only screen and (min-width: 700px) {
        font-size: 1.2em;
        text-align: left;
        display: block;
        position: unset;
        width: unset;
        height: unset;
        background-color: unset;
        margin: unset;
        grid-area: nav;
    }

    // When the nav trigger is "checked" (toggled), the nav menu should be shown
    .nav-trigger + input:checked + & {
        display: block;

        .nav-overlay {
            width: 100vw;
            height: 100vh;
            display: block;
            position: fixed;

            &::after {
                content: 'X';
                color: $main;
                font-size: 1.25rem;
                font-family: $mono;
                position: absolute;
                top: 1rem;
                right: 1rem;
                width: 1.25rem;
                text-align: center;
                cursor: pointer;
            }
        }
    }
    &__list {
        font-size: 1.5em;
        list-style-type: none;
        text-align: center;
        margin-top: 35vh;
        z-index: 2;
        position: relative;
        display: inline-block;

        @media only screen and (min-width: 700px) {
            margin-top: 0;
            text-align: left;
            font-size: .9em;
        }

        &__link {
            font-size: .7em;
            font-family: $mono;
            color: $main;

            &:not(:last-child) {
                margin-bottom: .8em;
            }

            a {
                @include a;
                transition: color .2s;

                // &::before {
                //     content: '[ ';
                //     color: $accent;
                // }
                // &::after {
                //     content: ' ]';
                //     color: $accent;
                // }
            }
        }
    }
}

.nav-overlay {
    display: none;
}

.nav-trigger {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 1.25rem;
    font-family: $mono;
    color: $main;

    @media only screen and (min-width: 700px) {
        display: none;
        position: relative;
        top: unset;
        right: unset;
    }

    & + input {
        display: none;
    }
}
