.Page {
    padding: 1em 1em 0;
    background-color: $bg;
    position: relative;
    min-height: 100vh;
    padding-bottom: 2rem; // This is to make sure the footer has enough room on the bottom to not overlap text
    position: relative;
    z-index: 2;

    @media only screen and (min-width: 375px) {
        font-size: 1.1em;
    }
    @media only screen and (min-width: 700px) {
        font-size: 1.2em;
    }

    .backlink {
        @include paragraph-like;
        // color: $fg;
    }
}

.footer__wrapper {
    max-width: 30em;
    margin: 0 auto 2em;

    @media only screen and (min-width: 1000px) {
        max-width: 35em;
    }
}

.Content {
    @include markdown;

    margin: 3em 0 2em;
}

.Feature {
    margin-bottom: 3em;

    &__label {
        font-size: 1em;
        font-family: $sans;
        font-variant: small-caps;
        font-weight: 600;
        color: $main;
    }
    &__title {
        @include h3-like;
        font-weight: 700;
        margin-bottom: .5em;
    }
    &__summary {
        @include markdown;

        a {
            color: $accent;
            transition: background-color .2s;
            padding: .2em 0em;
            margin: -.2em 0;

            &:hover {
                // color: lighten($accent, 15%);
                background-color: rgba(#172a45, .7);
            }
        }
    }
}

.ListOfList {
    display: flex;
    flex-wrap: wrap;

    &__title {
        @include h2-like;
        font-size: 2.5em;
        margin-bottom: .75em;
        width: 100%;
    }
}

.List {
    margin: 0 1em 1em 0;

    &__title {
        @include h3-like;
        margin-bottom: .25em;
    }
    &__element {
        list-style-type: none;
    }
    &__item {
        @include paragraph-like;

        &:not(:last-child) {
            margin-bottom: .5em;
        }
        a {
            @include reset-a;
            transition: color .2s;

            &:hover {
                color: $accent;
            }
        }
    }
}

.draft-label {
    @include paragraph-like;
    font-size: .8em;
    border: 1px solid $fg;
    padding: .2em .4em;
    vertical-align: middle;
}
