<label for="nav-trigger" class="nav-trigger">
    <span class="nav-trigger__button">[]</span>
    <input type="checkbox" id="nav-trigger" />
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__list__link">
                <a href="/projects">Projects</a>
            </li>
            <li class="nav__list__link">
                <a href="/about">About</a>
            </li>
            <li class="nav__list__link">
                <a href="/resume">Resume</a>
            </li>
        </ul>
    </nav>
</label>
