<label for="nav-trigger" class="nav-trigger">[]</label>
<input type="checkbox" id="nav-trigger" />
<nav class="nav">
    <label for="nav-trigger" class="nav-overlay"></label>
    <ul class="nav__list">
        <li class="nav__list__link">
            <a href="/projects">Projects</a>
        </li>
        <li class="nav__list__link">
            <a href="/about">About</a>
        </li>
        <li class="nav__list__link">
            <a href="/documents/resume.pdf">Resume</a>
        </li>
    </ul>
</nav>
