<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<meta name="description" content="Electrical and Firmware Engineer">
	<meta name="keywords" content="resume,cv,Jack Greenberg">
	<meta name="author" content="Jack Greenberg">
	<meta name="robots" content="noindex">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="/resume.css" rel="stylesheet">
	<title>Jack Greenberg — Resume</title>
</head>

<body>
	<main class="font-firago hyphens-manual">

		<!-- Page -->
		<div class="p-6 mx-auto bg-white page max-w-letter md:h-letter xsm:p-8 sm:p-9 md:p-12">

			<!-- Name -->
			<header class="flex items-center mb-8 md:mb-11">
				<div class="initials-container mr-5 text-base leading-none text-white bg-gray-700 font-medium print:bg-black px-3 py-2.5">
					<div class="initial text-center pb-0.8">J</div>
					<div class="text-center initial">G</div>
				</div>
				<div>
					<h1 class="text-2xl font-semibold text-gray-750">
						Jack Greenberg
					</h1>
					<p class="text-gray-550 text-md">
						Electrical and Firmware Engineer
					</p>
				</div>
			</header>
			<!-- end Name -->

			<!-- Column -->
			<div class="md:col-count-2 print:col-count-2 col-gap-md md:h-letter-col print:h-letter-col col-fill-auto">

				<!-- Use mt-3 class when the element isn’t the first one in the column -->
				<section>

					<!-- To keep in the same column -->
					<div class="break-inside-avoid">

						<h2 class="mb-4 font-bold tracking-widest text-sm2 text-gray-550 print:font-normal">
							EDUCATION
						</h2>


						<section class="mb-4 break-inside-avoid">
							<header>
								<h3 class="text-lg font-semibold text-gray-700 leading-snugish font-noto-sans">
									Olin College of Engineering
								</h3>
								<p class="leading-normal text-md text-gray-650">
									Bachelor of Science in Electrical and Computer Engineering
								</p>
								<p class="leading-normal text-xs text-gray-800">
									May 2023 | Needham, MA
								</p>
							</header>
							<ul class="">

								<li class="mt-2 text-md text-gray-700 leading-normal">
									<span class="absolute -ml-4 select-none case-sensitive">›</span>
									Recipient of 4-year, 50% tuition merit scholarship.
								</li>

							</ul>
						</section>


					</div>


						<section class="mb-4 break-inside-avoid">
							<header>
								<h3 class="text-lg font-semibold text-gray-700 leading-snugish font-noto-sans">
									UCLA Extension Course: Networking and TCP/IP
								</h3>
								<p class="leading-normal text-md text-gray-650">

								</p>
								<p class="leading-normal text-xs text-gray-800">
									March 2018 | Los Angeles, CA
								</p>
							</header>
							<ul class="">

								<li class="mt-2 text-md text-gray-700 leading-normal">
									<span class="absolute -ml-4 select-none case-sensitive">›</span>
									Studied concepts of networking technology and worked through understanding the full TCP/IP stack.
								</li>

							</ul>
						</section>



						<section class="mb-4 break-inside-avoid">
							<header>
								<h3 class="text-lg font-semibold text-gray-700 leading-snugish font-noto-sans">
									Oakwood Secondary School
								</h3>
								<p class="leading-normal text-md text-gray-650">

								</p>
								<p class="leading-normal text-xs text-gray-800">
									June 2018 | Los Angeles, CA
								</p>
							</header>
							<ul class="">

								<li class="mt-2 text-md text-gray-700 leading-normal">
									<span class="absolute -ml-4 select-none case-sensitive">›</span>
									Took courses on elementary number theory and cryptography, sign language, and jazz theory, among others.
								</li>

							</ul>
						</section>




				</section>

				<section class="mt-8">

					<!-- To keep in the same column -->
					<div class="break-inside-avoid">

						<h2 class="mb-4 font-bold tracking-widest text-sm2 text-gray-550 print:font-normal">
							GAP YEAR EXPERIENCE
						</h2>


						<section class="mb-4 break-inside-avoid">
							<header>
								<h3 class="text-lg font-semibold text-gray-700 leading-snugish font-noto-sans">
									Yay Brigade
								</h3>
								<p class="leading-normal text-md text-gray-650">
									Full-Stack Developer
								</p>
								<p class="leading-normal text-xs text-gray-800">
									01/2019 - 12/2019 | Los Angeles
								</p>
							</header>
							<ul class="">

								<li class="mt-2 text-md text-gray-700 leading-normal">
									<span class="absolute -ml-4 select-none case-sensitive">›</span>
									Implemented designs with a focus on keeping them light-weight and accessible.
								</li>

								<li class="mt-2 text-md text-gray-700 leading-normal">
									<span class="absolute -ml-4 select-none case-sensitive">›</span>
									Built a web app to monitor the status of the sites maintained
by the studio with a notifcation system. Written with PHP and SQL.
								</li>

								<li class="mt-2 text-md text-gray-700 leading-normal">
									<span class="absolute -ml-4 select-none case-sensitive">›</span>
									Built a web app (designed by the head of the studio) that
allows users to keep a list of their favorite bands and compare them
with other users. Written with ReactJS, PHP, and SQL.
								</li>

							</ul>
						</section>




						<section class="mb-4 break-inside-avoid">
							<header>
								<h3 class="text-lg font-semibold text-gray-700 leading-snugish font-noto-sans">
									Norwegian Refugee Council
								</h3>
								<p class="leading-normal text-md text-gray-650">
									Data Architect
								</p>
								<p class="leading-normal text-xs text-gray-800">
									09/2018 - 12/2018 | Berlin, Germany
								</p>
							</header>
							<ul class="">

								<li class="mt-2 text-md text-gray-700 leading-normal">
									<span class="absolute -ml-4 select-none case-sensitive">›</span>
									Assisted the team in developing a data collection and project
management tool used in refugee camps around the world, using Salesforce
 as a platform.
								</li>

								<li class="mt-2 text-md text-gray-700 leading-normal">
									<span class="absolute -ml-4 select-none case-sensitive">›</span>
									Traveled to a conference in Brussels with my team to present to
 representatives from around the world about the data collection and
project management tools we were building.
								</li>

							</ul>
						</section>






				</div></section>

				<section class="mt-8">

					<!-- To keep in the same column -->
					<div class="break-inside-avoid">

						<h2 class="mb-4 font-bold tracking-widest text-sm2 text-gray-550 print:font-normal">
							PROJECTS
						</h2>


						<section class="mb-4 break-inside-avoid">
							<header>
								<h3 class="text-lg font-semibold text-gray-700 leading-snugish">

									<a href="https://github.com/jack-greenberg/i2c2" class="group">
										I2C2
										<span class="inline-block text-gray-550 print:text-black font-normal group-hover:text-gray-700 transition duration-100 ease-in">↗</span>
									</a>

								</h3>
								<p class="leading-normal text-sm text-gray-650">
									<span>2020</span> | <span class="text-gray-750">Embedded C, Systems-level C</span>
								</p>
							</header>
							<p class="mt-2 text-md text-gray-700 leading-normal">
								I wrote an implementation of the I2C protocol in embedded C for AVR devices.
							</p>
						</section>




						<section class="mb-4 break-inside-avoid">
							<header>
								<h3 class="text-lg font-semibold text-gray-700 leading-snugish">

										Brakelight/BSPD Board

								</h3>
								<p class="leading-normal text-sm text-gray-650">
									<span>2019</span> | <span class="text-gray-750">Embedded C, KiCad</span>
								</p>
							</header>
							<p class="mt-2 text-md text-gray-700 leading-normal">
								I developed a mission-critical circuit board for the Formula SAE team at Olin, Olin Electric Motorsports.
							</p>
						</section>




						<section class="mb-4 break-inside-avoid">
							<header>
								<h3 class="text-lg font-semibold text-gray-700 leading-snugish">

										Shutdown Sense Board

								</h3>
								<p class="leading-normal text-sm text-gray-650">
									<span>2019</span> | <span class="text-gray-750">Embedded C, KiCad</span>
								</p>
							</header>
							<p class="mt-2 text-md text-gray-700 leading-normal">
								I developed this board to provide a quick diagnostic test of the shutdown circuit of the Formula car.
							</p>
						</section>




						<section class="mb-4 break-inside-avoid">
							<header>
								<h3 class="text-lg font-semibold text-gray-700 leading-snugish">

									<a href="https://github.com/jack-greenberg/cms" class="group">
										CMS
										<span class="inline-block text-gray-550 print:text-black font-normal group-hover:text-gray-700 transition duration-100 ease-in">↗</span>
									</a>

								</h3>
								<p class="leading-normal text-sm text-gray-650">
									<span>2019</span> | <span class="text-gray-750">Python, MongoDB</span>
								</p>
							</header>
							<p class="mt-2 text-md text-gray-700 leading-normal">
								During my gap year I started building a content-management system using Python's Flask framework and MongoDB.
							</p>
						</section>





				</div></section>

				<section class="mt-8">

					<!-- To keep in the same column -->
					<div class="break-inside-avoid">

						<h2 class="mb-4 font-bold tracking-widest text-sm2 text-gray-550 print:font-normal">
							SKILLS
						</h2>


						<section class="mb-4 break-inside-avoid">
							<header>
								<h3 class="text-lg font-semibold text-gray-700 leading-snugish">
									Software
								</h3>
							</header>
							<ul class="my-2 mb-2 flex flex-wrap text-md leading-relaxed">

								<li class="px-3 mr-1.5 mt-1.5 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
									Python
								</li>

								<li class="px-3 mr-1.5 mt-1.5 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
									Embedded C
								</li>

								<li class="px-3 mr-1.5 mt-1.5 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
									Systems-level C
								</li>

								<li class="px-3 mr-1.5 mt-1.5 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
									Rust
								</li>

								<li class="px-3 mr-1.5 mt-1.5 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
									MATLAB
								</li>

                                <li class="px-3 mr-1.5 mt-1.5 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
									Docker
								</li>

								<li class="px-3 mr-1.5 mt-1.5 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
									Go
								</li>

							</ul>
						</section>


						<section class="mb-4 break-inside-avoid">
							<header>
								<h3 class="text-lg font-semibold text-gray-700 leading-snugish">
									Front-End
								</h3>
							</header>
							<ul class="my-2 mb-2 flex flex-wrap text-md leading-relaxed">

								<li class="px-3 mr-1.5 mt-1.5 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
									JavaScript
								</li>

								<li class="px-3 mr-1.5 mt-1.5 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
									ReactJS
								</li>

								<li class="px-3 mr-1.5 mt-1.5 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
									(S)CSS
								</li>

								<li class="px-3 mr-1.5 mt-1.5 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
									BEM CSS
								</li>

							</ul>
						</section>


						<section class="mb-4 break-inside-avoid">
							<header>
								<h3 class="text-lg font-semibold text-gray-700 leading-snugish">
									Database
								</h3>
							</header>
							<ul class="my-2 mb-2 flex flex-wrap text-md leading-relaxed">

								<li class="px-3 mr-1.5 mt-1.5 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
									MySQL
								</li>

                                <li class="px-3 mr-1.5 mt-1.5 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
									PostgresQL
								</li>

								<li class="px-3 mr-1.5 mt-1.5 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
									MongoDB
								</li>

							</ul>
						</section>


						<section class="mb-4 break-inside-avoid">
							<header>
								<h3 class="text-lg font-semibold text-gray-700 leading-snugish">
									Other
								</h3>
							</header>
							<ul class="my-2 mb-2 flex flex-wrap text-md leading-relaxed">

								<li class="px-3 mr-1.5 mt-1.5 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
									Git
								</li>

								<li class="px-3 mr-1.5 mt-1.5 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
									KiCad
								</li>

								<li class="px-3 mr-1.5 mt-1.5 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
									Figma
								</li>

								<li class="px-3 mr-1.5 mt-1.5 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
									American Sign Language
								</li>

							</ul>
						</section>



				</div></section>

				<section class="mt-8">

					<!-- To keep in the same column -->
					<div class="break-inside-avoid">

						<h2 class="mb-4 font-bold tracking-widest text-sm2 text-gray-550 print:font-normal">
							CONTACT
						</h2>

						<section class="mb-4 break-inside-avoid">
							<ul class="list-inside pr-7">
								<li class="mt-1.5 leading-normal text-gray-700 text-md">
									<a href="https://jacklgreenberg.com/" class="group">
										https://jacklgreenberg.com
										<span class="inline-block text-gray-550 print:text-black font-normal group-hover:text-gray-700 transition duration-100 ease-in">↗</span>
									</a>
								</li>

								<li class="mt-1.5 leading-normal text-gray-700 text-md">
									<a href="https://github.com/jack-greenberg" class="group">
										Github
										<span class="leading-normal text-sm text-gray-550">@jack-greenberg</span>
										<span class="inline-block text-gray-550 print:text-black font-normal group-hover:text-gray-700 transition duration-100 ease-in">↗</span>
									</a>
								</li>

								<li class="mt-1.5 leading-normal text-gray-700 text-md">
									Los Angeles, CA | Boston, MA
								</li>
								<li class="mt-1.5 leading-normal text-gray-700 text-md">
									jgreenberg@olin.edu
								</li>
								<li class="mt-1.5 leading-normal text-gray-700 text-md">
									(323)397-8961
								</li>
							</ul>
						</section>

					</div>

				</section>

			</div>
			<!-- end Column -->

		</div>
		<!-- end Page -->

	</main>



</body></html>
