{{ define "main" }}
    <div class="site-image">
        <img src="images/illustration.png" />
    </div>
    <main class="main">
        {{ partial "nav" . }}

        <div class="banner">
            <h1 class="banner__title">
                Jack Greenberg
            </h1>
            <h2 class="banner__subtitle">
                Electrical and Firmware Engineer
            </h2>
            <p class="banner__description">
                I’m an engineering student at Olin College of Engineering in Needham, MA. I’m passionate about embedded software and electrical design. I also play jazz bass.
            </p>
            {{- partial "footer" . -}}
        </div>

    </main>
{{ end }}
